<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Song that doesn't end</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <center>
  <body>
    <ul class="nav nav-tabs nav-justified" style="center">
  <li role="presentation" class="active"><%= link_to('Home', "root") %></li>
  <li role="presentation" class="active"><%= link_to('Verse 2', "verse-2") %></li>
  <li role="presentation" class="active"><%= link_to('Verse 3', "verse-3") %></li>
  <li role="presentation" class="active"><%= link_to('Verse 4', "verse-4") %></li>
  <li role="presentation" class="active"><%= link_to('Youtube', "youtube") %></li>
</ul>
</ul>
  <%= yield %>

  </body>
</center>


</html>
